:root{
    --beige: #feeccc;
    --lightblue: rgb(143, 160, 239);
}

.subheadings {
    font-style: italic;
    font-size: 60px;
    color: var(--beige);
}

.regtext {
    font-size: 30px;
    color: var(--lightblue);
}

.portheader {
    padding-top: 18px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: var(--beige);
}

.portdesc {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 15px;
}

.divider {
    font-size: 70px;
    color: var(--beige);
    text-align: center;
}

#contactsection {
    position: relative;
}

#contactheader {
    width: 100%;
    position: absolute;
    text-align: center;
    padding-top: 18px;
}

#contactinfo {
    width: 100%;
    position: absolute;
    text-align: center;
    padding-top: 100px;
}

#rectangle {
    position: absolute;
    width: 100%;
    height: 500px;
    background-color: black;
    opacity: 0.5;
}

#contactform {
    position: absolute;
    text-align: center;
    width: 100%;
    color: var(--lightblue);
    padding-top: 170px;
}

#inputgroup {
    position: absolute;
    width: 100%;
}

#nameinput {
    display: block;
    height: 40px;
    width: 350px;
    margin: auto;
    border-radius: 10px;
    border: none;
    background-color: var(--beige);
}

#emailinput {
    display: block;
    margin: auto;
    height: 40px;
    width: 350px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--beige);
}

#messageinput {
    display: block;
    margin: auto;
    width: 400px;
    height: 110px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--beige);
}

::placeholder {
    color: #7e7e7e;
    opacity: 1;
    padding-left: 5px;
    font-size: 22px;
}

#submitbtn {
    width: 150px;
    height: 40px;
    font-size: 22px;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    background-color: var(--lightblue);
}

#mainlogo {
    width: auto;
    height: 120px;
    border: none;
    cursor: pointer;
}

#mainlogo:hover {
    filter: invert(10%);
}

#dropdown-content {
    left: 40px;
    top: 125px;
    border-radius: 15px;
    position: absolute;
    background-color: var(--beige);
    width: 60px;
    z-index: 1;
    display: none;
}

/* logo with dropdown contents */
#dropdown {
    position: absolute;
    top: 3%;
    left: 8%;
}

#gitlogo {
    display: block;
    margin: auto;
    height: 45px;
    padding-top: 3px;
}

#linkedlogo {
    display: block;
    margin: auto;
    height: 45px;
    padding-top: 4px;
    padding-bottom: 4px;
}

#maillogo {
    display: block;
    margin: auto;
    height: 45px;
    padding-bottom: 4px;
}

#resumelink {
    font-size: 25px;
    position: absolute;
    top: 4%;
    right: 5%;
}

#projectslink {
    font-size: 25px;
    position: absolute;
    top: 4%;
    right: 30%;
    margin-right: 4%;
}

#contactlink {
    font-size: 25px;
    position: absolute;
    top: 4%;
    right: 15%;
    margin-right: 4.5%;
}

#avatar {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14%;
}

#bgandtext {
    position: relative;
    text-align: right;
}

#mainimage {
    max-width: 100%;
    max-height: 100%;
}

#maintext {
    font-style: italic;
    font-size: 60px;
    background: -webkit-linear-gradient(var(--beige), var(--lightblue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#persproj {
    text-align: center;
}

#recipepics {
    padding-top: 20px;
    display: flex;
    margin: auto;
    width: 700px;
}

#rpic1 {
    flex: 1;
    width: 50%;
    padding-right: 10px;
}

#rpic2 {
    flex: 1;
    width: 50%;
    padding-left: 10px;
}

#introrow {
    display: flex;
    margin-bottom: 140px;
}

#ontech {
    position: relative;
    float: right;
    right: 40px;
    bottom: 30px;
    width: 120px;
    height: auto;
    z-index: 1;
}

#laptop {
    position: relative;
    float: right;
    right: 80px;
    top: 20px;
    width: 270px;
    height: auto;
    z-index: 2;
}

#intro {
    flex: 1.2;
    position: relative;
    left: 80px;
}

#intropics {
    flex: 1;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    background-image: url(Images/tiles.png);
    background-size: contain;
}