#laptop {
    width: 260px;
    top: 50px;
    right: 50px;
}

#ontech{
    width: 100px;
    bottom: 0px;
    top: 10px;
    right: 0px;
    left: 20px;
}

#intro{
    flex: 1;
    left: 50px;
}

#maintext{
    width: 100%;
    text-align: center;
}